:root{
    --charcoal: #264653ff;
    --persian-green: #2a9d8fff;
    --saffron: #e9c46aff;
    --sandy-brown: #f4a261ff;
    --burnt-sienna: #e76f51ff;
    --bkg-color:#ffffff;
    --body-color:#464646;
}

html{

  font-family: poppins;
  scroll-behavior: smooth;
}
img{
    height: auto;
    max-width: 100%;
}
body{
max-width: 100%; 
    background-color: var(--bkg-color);
}


*, *::after, *::before{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: inherit;
}
section#page{
    display: grid;
    grid-template-areas: 'nav nav nav nav nav nav'
    'header header header header header header'
    'main main main main main main'
    'feature feature feature feature feature feature'
    'feat-brd feat-brd feat-brd feat-brd feat-brd feat-brd'
    'feature2 feature2 feature2 feature2 feature2 feature2'
    'footer footer footer footer footer footer'; 
    /* justify-content: center; */
    margin:auto;
    

}

div.navbar{
    grid-area: nav;
    position:fixed;
  width: 100%;
  z-index: 999;

}

div.navbar .container{
    /* grid-area: nav; */
    background: rgba(42, 157, 143);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline:7.5rem
    
}

div.navbar .container .logo h2 a{
    font-family: "rubik doodle shadow";
    font-weight: 400;
    font-size: 3rem;
    text-decoration: none;
    color:var(--saffron);

}

div.navbar .container nav ul{
    display: flex;
    flex-direction: space-between;
    list-style-type: none;
    padding:0 5px;
}
div.navbar .container nav ul li{
    padding-left:0.5rem;


}

div.navbar .container nav ul li a{
    text-decoration: none;
    color:var(--charcoal);
    position: relative;

}

/* div.navbar .container nav ul li a:hover{
    text-decoration: underline;
    text-decoration-color:var(--saffron);
    color:var(--charcoal);

} */

div.navbar .container nav ul li a::after{
    content:'';
    position: absolute;
    width:100%;
    transform: scaleX(0);
    height:4px;
   bottom:0;
   left:0;
   background-color: var(--saffron);
   transition:transform 0.3s ease-in;
   transform-origin: bottom right;

}

div.navbar .container nav ul li a:hover::after{
   
    transform: scaleX(1);
    transform-origin: bottom left;
   

}

header{
    display: grid;
    grid-area:header;
    height:90svh;
    background-color: var( --sandy-brown);
    background-image: url('images/banner_travel_exp.webp');
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    justify-items: center;
    
}

header .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline:7.5rem;
    align-items: center;
    justify-items: center;
    place-self: center;
}
header .container h1{
    padding-top:3rem;
 font-size: 3rem;
 margin:-1rem; 
 
}

header .container span a{
    display: inline-block;
    font-size: 2rem;
    position:relative;
    z-index:2;
    color:var(--burnt-sienna);
    text-decoration: none;
}

header .container p{
   width:25rem;
   text-align: center;
   
}
 header .container span a::after{
    content:'';
    position:absolute;
    width:100%;
    transform: scaleX(0);
    bottom:6px;
    left:0;
    height:6px;
    background-color: var(--saffron);
    z-index: -9;
    transition:transform 0.3s ease-in;
 }

 header .container span a:hover::after{
    transform: scaleX(1);
 }


 header .container .button a{
    display: flex;
    background-color:var(--charcoal);
    height:2rem;
    font-size: inherit;
    padding:1rem;
    place-content: center;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    color:#e9c46a;
    text-decoration: none;
 }
main{
    display: grid;
    grid-template-columns: 1fr;
    grid-area: main;
    height: auto;
    padding-block:3rem;
    padding-inline:3rem;
}

main .container{
    margin-top:1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}


 main .container .gallery{
    display: grid;
    grid-template-areas: 'one four'
    'two five'
    'three six';
    gap:1rem;
    height:80svh;
    overflow: hidden;

 }
 .gallery a {
    display: grid;
 }
 main .container .gallery .part1 img, main .container .gallery a img {
    max-width: 100%;
    border:1px solid var(--saffron);
    transition: transform 0.3s ease-in;
    overflow: hidden;
    display: grid;
    height:auto;

 }
 /* main .container .gallery .part1, main .container .gallery {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    row-gap: 1.5rem;

 } */

 .gallery div a img:nth-child(1){
    grid-area: one;
 }
 .gallery div a img:nth-child(2){
    grid-area: two;
 }
 .gallery div a img:nth-child(3){
    grid-area: three;
 }
 .gallery div a img:nth-child(4){
    grid-area: four;
 }
 .gallery div a img:nth-child(5){
    grid-area: five;
 }

 .gallery div a img:nth-child(5){
    grid-area: six;
 }

 main .container .gallery .part1 img:hover, main .container .gallery  a img:hover {

    transform:scale(1.2);
 }

 main .container .gallery .part1 div, main .container .gallery  div {
    max-width: 100%;
    overflow: hidden;
    
 }



 main .container .main-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }



 main .container .main-txt .sec{
    padding-inline:2rem;
    padding-bottom:2rem
 }

 main .container .main-txt .sec a{
    text-decoration: none;
    color:inherit;
    position: relative;
 }

 main .container .main-txt .sec p{
  
    color:var(--body-color)
    
 }

 main .container .main-txt .sec a h2::after{
    content:'';
    position: absolute;
    width:100%;
    transform: scaleX(0.1);
    height:4px;
   bottom:0;
   left:0;
   background-color: var(--saffron);
   transition:transform 0.3s ease-in;
   transform-origin: bottom left;
 }

 main .container .main-txt .sec a h2:hover::after{
   
    transform: scaleX(0.4);
   
   
 }



 /* @keyframes slide {

    from{
      color: var(--charcoal); 
      transform:scaleX(0.8);
      transform:scaleY(0.8);
      transform-origin: top right;

    }
    
    to{
      color: var(--sandy-brown); 
      transform:scaleX(0.2);
      transform:scaleY(0.2);
      transform-origin: top right;
    }
 } */

.feature{

    grid-area: feature;
    display: grid;
    height:100svh;
    align-items: center;
    background-color: rgb(28, 28, 28);
    padding-inline:7.5rem;
   
}
.feature .container {
    background-color: rgb(28, 28, 28)   
}
.feature .container .feature-txt{

display: flex;
/* justify-content: center; */
align-items: center;
flex-direction: column;
/* justify-items: center; */
background-color: rgb(28, 28, 28)
}


.feature .container .feature-txt span{
    display: flex;
    /* justify-content: center; */

}
.feature .container .feature-txt span{
    color:hsl(0 0% 100% / 0.2);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg, #f80400, #e4cf8e);
    animation: scroll-reveal linear forwards;
    animation-timeline: view();
   
}
.feature .container .feature-txt h2 span{
    animation-range-start: cover 20vh;
    animation-range-end: cover 30vh;
}

.feature .container .feature-txt p span {
    animation-range-start: cover 24.5vh;
    animation-range-end: cover 50vh;
}


@keyframes scroll-reveal {

    to {
        background-size: 100% 100%;
    }

    
}



.feature .container .feature-txt h2{
    font-size: 3rem;
    line-height: 1;
   
}
.feature .container .feature-txt p{
    font-size: inherit;
    line-height: 1.5;
    max-width: 55ch;
    margin-inline: auto;
    text-align: center;
}


.feat-border{
  grid-area: feat-brd;
  grid-template-columns: 1fr;
  background-color: #e9c46a;
 
}

.feature2 {
    display:grid;
    grid-area: feature2;
    justify-content: center;
    align-items: center;
    height:100svh;
    background-color: #e9c46a;
}
.feature2 .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-inline: auto;
    column-gap:2rem;
    padding-inline: 7.5rem;
}
.feature2 .container .features {
    width:20rem;
    border-radius: 16px;
    height:20rem;
    position:relative;
    overflow:hidden;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
 text-align: center; 
    
}

.feature2 .container .features h2{
    z-index: 10;
    text-align: center;
}

.feature2 .container .features::before {
   content:'';
   position:absolute;
   top:0;
   width:12rem;
   height:200%;
   background:linear-gradient(red, rgb(222, 102, 17));
   animation: rot linear infinite;   
   animation-duration: 4s;
}

.feature2 .container .features::after {
    content:'';
    position:absolute;
    inset:0.5rem;
    background-color:var(--saffron);
    border-radius: 16px;
 }
.feat-border svg{
    margin:-1px;
}
@keyframes rot {
    from{
        transform: rotate(0deg);
    }
    
    to{
        transform: rotate(360deg);
    }
}
footer{
    display: grid !important;
    grid-area:footer;
    max-width:100%;
    height:40svh;

}

footer .container {
    display:grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    background-image: linear-gradient(var(--charcoal), var(--persian-green));
    padding-inline: 7.5rem;
    padding-block:3rem;
    align-items:flex-start;
    color:var(--saffron);
    justify-content: center;
    justify-items: center;


}

form#subscribe {
  display: flex;
  flex-direction: row;
}

form#subscribe label input#email {
    border:0;
    font-style: inherit;
}

form#subscribe #subscribe_btn{
    display: flex; 
    font-size: 1rem !important;
    vertical-align: bottom;
    height:21px;
   align-self: flex-end;
   background-color: transparent;
   border: 0 !important;

}

form#subscribe #subscribe_btn i{
    padding-left:5px;
    color:var(--charcoal);
    cursor: pointer;

}

 ul.ftr-nav {
   list-style-type: none;
    font-size: inherit;
    align-self: flex-start;
}

footer .container p.copy{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}











@media screen and (max-width:768px) {

    img{
        max-width:100% !important;
        object-fit: cover !important;
        object-position: bottom;
        height:auto !important
    }
    

body{
   max-width: 100% !important;
    overflow-x: hidden !important;
}
    section#page{
       
        grid-template-areas: 'nav'
        'header'
        'main'
        'feature'
        'feat-brd'
        'feature2'
        'footer'; 
        /* justify-content: center; */
    
    }
    div.navbar .container{

        
    }
    div.navbar .container{
    
       flex-direction: column;
       padding-inline:1rem;
    }


  

    header{
  
        height:auto;
        background-image: url('images/banner_travel_exp.webp');
      
        
    }
    
    header .container{
        padding-inline:3rem;
    }
  

    main .container{
    
        grid-template-columns: 1fr;
        justify-content: center;
      align-items: center;
      margin-inline:auto;

    }

    main .container .gallery a img{
        width: 100% !important;
    }
    
     main .container .gallery{
        display: grid;
        grid-template-areas:none;
        justify-content: center;
        grid-template-columns: 1fr;
        height:auto;
        align-self: center !important;
        align-items: center;
        margin-block-end: 2rem;
    
     }


     main .container .gallery .part1 img, main .container .gallery  a img {
        transition:none;
       width: 50%;
       object-fit: cover;
       object-position: top;

     }


     main .container .main-txt {
        padding-inline:1rem;
        text-wrap:balance;
     }
    

     main .container .main-txt .sec{
        padding-inline:0.5rem;
        padding-bottom:1rem
     }
    









     .feature2 {

        height:auto !important
    }



     .feature2 .container{

        grid-template-columns: 1fr;
        column-gap:1rem;
        padding-inline: 1rem;
        padding
    }

    .feature2 .container .features
    {
        margin-block:2rem;
    }

     footer{
        height:20svh;
    
    }



     footer .container {
        grid-template-columns: 1fr;
        padding-inline: 1rem;
        text-align: left;
        justify-content: center;
        align-items: center;
    
    
    }
    
}