:root{
    --charcoal: #264653ff;
    --persian-green: #2a9d8fff;
    --saffron: #e9c46aff;
    --sandy-brown: #f4a261ff;
    --burnt-sienna: #e76f51ff;
    --bkg-color:#ffffff;
    --body-color:#464646;
}

html{

  font-family: poppins;

}

body{
    /* max-width: 100%; */
    background-color: var(--bkg-color);
}

*, *::after, *::before{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: inherit;
}
section#page{
    display: grid;
    grid-template-areas: 'nav nav nav nav nav nav'
    'header header header header header header'
    'main main main main main main'
    'feature feature feature feature feature feature'
    'feat-brd feat-brd feat-brd feat-brd feat-brd feat-brd'
    'footer footer footer footer footer footer'; 
    /* justify-content: center; */
    margin:auto;
    

}

div.navbar{
    grid-area: nav;

}

div.navbar .container{
    /* grid-area: nav; */
    background: rgba(42, 157, 143, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline:7.5rem
    
}

div.navbar .container .logo h2 a{
    font-family: "rubik doodle shadow";
    font-weight: 400;
    font-size: 3rem;
    text-decoration: none;
    color:var(--saffron);

}

div.navbar .container nav ul{
    display: flex;
    flex-direction: space-between;
    list-style-type: none;
    padding:0 5px;
}
div.navbar .container nav ul li{
    padding-left:0.5rem;


}

div.navbar .container nav ul li a{
    text-decoration: none;
    color:var(--charcoal);
    position: relative;

}

/* div.navbar .container nav ul li a:hover{
    text-decoration: underline;
    text-decoration-color:var(--saffron);
    color:var(--charcoal);

} */

div.navbar .container nav ul li a::after{
    content:'';
    position: absolute;
    width:100%;
    transform: scaleX(0);
    height:4px;
   bottom:0;
   left:0;
   background-color: var(--saffron);
   transition:transform 0.3s ease-in;
   transform-origin: bottom right;

}

div.navbar .container nav ul li a:hover::after{
   
    transform: scaleX(1);
    transform-origin: bottom left;
   

}

header{
    display: grid;
    grid-area:header;
    height:90svh;
    background-color: var( --sandy-brown);
    background-image: url('images/banner_travel_exp.webp');
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    justify-items: center;
    
}

header .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline:7.5rem;
    align-items: center;
    justify-items: center;
    place-self: center;
}
header .container h1{
    padding-top:3rem;
 font-size: 3rem;
 margin:-1rem; 
 
}

header .container span a{
    display: inline-block;
    font-size: 2rem;
    position:relative;
    z-index:2;
    color:var(--burnt-sienna);
    text-decoration: none;
}

header .container p{
   width:25rem;
   text-align: center;
   
}
 header .container span a::after{
    content:'';
    position:absolute;
    width:100%;
    transform: scaleX(0);
    bottom:6px;
    left:0;
    height:6px;
    background-color: var(--saffron);
    z-index: -9;
    transition:transform 0.3s ease-in;
 }

 header .container span a:hover::after{
    transform: scaleX(1);
 }


 header .container .button a{
    display: flex;
    background-color:var(--charcoal);
    height:2rem;
    font-size: inherit;
    padding:1rem;
    place-content: center;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    color:#e9c46a;
    text-decoration: none;
 }
main{
    display: grid;
    grid-template-columns: 1fr;
    grid-area: main;
    height: auto;
    padding-block:3rem
}

main .container{
    margin-top:1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}


 main .container .gallery{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 0.50rem;
    height:80svh;
    overflow: hidden;

 }

 main .container .gallery .part1, main .container .gallery .part2{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    row-gap: 1.5rem;

 }
 main .container .gallery .part1 img, main .container .gallery .part2 a img {
    max-width: 100%;
    border:1px solid var(--saffron);
    transition: transform 0.3s ease-in;
    overflow: hidden;

 }

 main .container .gallery .part1 img:hover, main .container .gallery .part2 a img:hover {

    transform:scale(1.2);
 }

 main .container .gallery .part1 div, main .container .gallery .part2 div {
    max-width: 100%;
    overflow: hidden;
    
 }



 main .container .main-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }



 main .container .main-txt .sec{
    padding-inline:2rem;
    padding-bottom:2rem
 }

 main .container .main-txt .sec a{
    text-decoration: none;
    color:inherit;
    position: relative;
 }

 main .container .main-txt .sec p{
  
    color:var(--body-color)
    
 }

 main .container .main-txt .sec a h2::after{
    content:'';
    position: absolute;
    width:100%;
    transform: scaleX(0.1);
    height:4px;
   bottom:0;
   left:0;
   background-color: var(--saffron);
   transition:transform 0.3s ease-in;
   transform-origin: bottom left;
 }

 main .container .main-txt .sec a h2:hover::after{
   
    transform: scaleX(0.4);
   
   
 }



 /* @keyframes slide {

    from{
      color: var(--charcoal); 
      transform:scaleX(0.8);
      transform:scaleY(0.8);
      transform-origin: top right;

    }
    
    to{
      color: var(--sandy-brown); 
      transform:scaleX(0.2);
      transform:scaleY(0.2);
      transform-origin: top right;
    }
 } */

.feature{

    grid-area: feature;
    display: grid;
    height:100svh;
    align-items: center;
    background-color: rgb(28, 28, 28);
   
}
.feature .container {
    background-color: rgb(28, 28, 28)   
}
.feature .container .feature-txt{

display: flex;
/* justify-content: center; */
align-items: center;
flex-direction: column;
/* justify-items: center; */
background-color: rgb(28, 28, 28)
}


.feature .container .feature-txt span{
    display: flex;
    /* justify-content: center; */

}
.feature .container .feature-txt span{
    color:hsl(0 0% 100% / 0.2);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg, #f80400, #e4cf8e);
    animation: scroll-reveal linear forwards;
    animation-timeline: view();
   
}
.feature .container .feature-txt h2 span{
    animation-range-start: cover 20vh;
    animation-range-end: cover 30vh;
}

.feature .container .feature-txt p span {
    animation-range-start: cover 24.5vh;
    animation-range-end: cover 50vh;
}


@keyframes scroll-reveal {

    to {
        background-size: 100% 100%;
    }

    
}



.feature .container .feature-txt h2{
    font-size: 3rem;
    line-height: 1;
   
}
.feature .container .feature-txt p{
    font-size: inherit;
    line-height: 1.5;
    max-width: 55ch;
    margin-inline: auto;
    text-align: center;
}


.feat-border{
  grid-area: feat-brd;
  grid-template-columns: 1fr;
  background-color: var(--saffron)
 
}


footer{
    display: grid !important;
    grid-area:footer
}